body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-section {
  background-color: #1f2937;
  color: whitesmoke;
  padding: 0 180px;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#links {
  list-style: none;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

#hero-txt {
  flex-grow: 0;
  width: 450px;
}

#hero-img-div {
  background-color: #3d4755;
  width: 500px;
  height: 250px;
}

#signup-btn {
  padding: 10px 50px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Main content */
main {
  padding-top: 60px;
  text-align: center;
  padding: 60px 180px;
}

#info-section {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.info-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid blueviolet;
}
.info-txt {
}

/* QUOTE SECTION */

#quote-section {
  background-color: #e5e7eb;
  padding: 60px 200px;
}
#quote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}
#quote-author {
  margin: 0;
  font-size: 24px;
  margin-left: 900px;
  font-weight: bolder;
}

/* Call to action */

#callto-section {
  padding: 60px 280px;
}

#callto-content {
  color: whitesmoke;
  background-color: #3882f6;
  padding: 40px 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
h4,
#callto-section p {
  margin: 0;
  padding: 0;
}

#callto-btn {
  background-color: #3882f6;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  padding: 0 30px;
  border-radius: 7px;
  border: 1px solid whitesmoke;
}

/* FOOTER */
footer{
  padding: 20px 0;
  text-align: center;
  color: #e5e7eb;
  background-color: #1f2937;
}